{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
<link rel="stylesheet" type="text/css" href="/assets/css/about.css">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
<div class="outline-project">

	<!-- 一時的な文言 -->
	<h1>What is 俺たちのNo. 1決定戦</h1>
	<p>俺達のNo. 1決定戦とは、お題に対して自分がナンバーワンだと思う候補にポイントをかけて遊べるゲームです。</p>
	<p>予想した投票が多かった場合リターンとしてポイントがもらえます。</p>
</div>              
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}