.navbar-toggle {
            float: left;
            margin-left: 15px;
        }

        @media (min-width: 0) {
            .navbar-toggle {
                display: block;
            }
        }
