body{
	background-image: url('/assets/image/japanese-umbrellas.jpg');
	background-size: cover;
}

li{
  list-style: none;
}

.our-projects-name{
	background-color: black;
 	height: 300px;
 	width: 80%;
 	text-align: center;
 	margin: 0 auto;
 	margin-top: 250px;
}

.our-projects-name h3{
	position: absolute;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	margin: auto;
 	width: 80%;
 	height: 3.5rem;
 	text-align: center;
 	color: white;
 	font-size: 80px;
 	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
 	font-weight: bold;
}

.our-projects-name p{
	position: absolute;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	margin: auto;
 	width: 80%;
 	height: 3.5rem;
 	text-align: center;
 	color: white;
 	font-size: 30px;
 	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
 	padding-top: 200px;
 	font-weight: bold;
}

.header-list{
	color: black;
}