p{
  text-align: center;
  padding-bottom: 40px;
}

.hidarinohako{
  margin-left: 50px;
  margin-right: 50px;
}
.mannakanohako{
  margin: 100px;

}
.btn-decide{
  color: #819FF7;
  background-color: #fff;
  border-color: #819FF7;
}
.btn-decide:hover{
    color: #fff;
    background-color: #819FF7;
    border-color: #fff;
}
.ichiran:hover{
  color: #fff;
  background-color: #819FF7;
  border-color: #fff;
}
.frex{
  display: flex;
  flex-wrap: wrap;
}

.theme-title{
  margin-left: 40px;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  border-bottom: double 12px orange;
}

.radio-box{
  position: relative;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-rounded{
  height: 300px;
}

.select-radio{
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.center-vote {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}