{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>サービス名</h1>
    </div>
    
    <div class="sample">
        <input type="radio" name="button" value=1>
        <input type="text" id= value="おーいお茶">
        <p>{{vote.vote}}</p>
        <br/>
        <input type="radio" name="button" value=2>
        <input type="text" value="生茶">
        <p>{{vote.vote}}</p>
        <br/>
        <input type="submit" value="投票">
        
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}